{% extends 'base.html' %}

{% block content %}
  {{ state }}
  <form action="" method="POST">
    {% csrf_token %}
    {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <table>
      <tr>
        <td>Twitter Handle:</td>
        <td><input type="text" name="username" value="{{ username }}" /><br /></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="password" value="" /><br /></td>
    </table>
    <input type="submit" value="Log In" />
  </form>
{% endblock %}
