<html>
  <head>
    <title>{% block title %}Charitweet{% endblock %}</title>
    {% block headers %}

    {% endblock %}
  </head>
  <body>
    <div class="top_bar">
      {% if user.is_authenticated %}
        Hi {{ user.first_name }}, <a href="{% url "logout" %}">Log out Here!</a>
      {% else %}
        <a href="{% url "login" %}">Log in here!</a>
      {% endif %}
    </div>
    <hr>
    <h1>{% block head_title %}{% endblock %}</h1>
    {% block content %}

    {% endblock %}
  </body>
</html>
