<html>
  <head>
    <title>{% block title %}Charitweet{% endblock %}</title>
    {% block headers %}

    {% endblock %}
    <script>
      function loginUser() {
        window.location="/tlogin/";
      }
    </script>
  </head>
  <body>
    <div class="top_bar">
      {% if user.is_authenticated %}
        {{ user.first_name }}
        <a href="{% url "logout" %}">Logout</a>
      {% else %}
        {% load staticfiles %}
        <a href="/accounts/login">
          <img src="{%static 'images/sign-in-with-twitter-gray.png' %}" />
        </a>
      {% endif %}
    </div>
    <hr>
    <h1>{% block head_title %}{% endblock %}</h1>
    {% block content %}

    {% endblock %}
  </body>
</html>
